// Sliding Cards component styles
@use '../../variables' as *;

.sliding-cards {
  position: relative;
  
  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  &__card-wrapper {
    position: absolute;
    inset: 0;
    transition: transform $transition-duration $transition-timing;
  }
}
