@use '../../styles/themes/_theme-variables' as *;

.authForm {
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 12px;
  padding-left: 12px;
}

.formGroup {
  width: 100%;
  margin-bottom: 7px; /* Gap between inputs set to 7px */
  
  // /* Make inputs 20% smaller */
  // :global(input) {
  //   height: 80%; /* Make inputs 20% smaller in height */
  //   font-size: 0.9rem; /* Smaller font size */
  //   padding: 8px 12px; /* Adjusted padding */
  // }
}

.errorMessage {
  color: var(--accent-pink);
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.actionRow {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 9px; /* Set to 9px from bottom edge */
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  justify-content: flex-start;

  > * {
    flex: 1;
    max-width: calc(50% - 5px);
  }
}

.termsCheckbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  
    input {
      margin-top: 3px;
      margin-right: 10px;
    }
  
    label {
      font-size: 14px;
      color: var(--text-secondary);
  
      a {
        color: var(--primary-color);
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .forgotPassword {
    text-align: right;
    margin-bottom: 20px;
  
    a {
      color: var(--primary-color);
      font-size: 14px;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
    