@use '../styles/themes/theme-variables' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.dialog {
  width: 90vw; /* Use 90% of viewport width */
  height: calc(100vh - 8rem);
  // max-width: 1800px; /* Increased max width */
  position: relative;
  overflow: hidden;
  z-index: 1001;
  isolation: isolate;  
  border-radius: 30px;
  background-color: var(--card-bg); /* For testing */
  border: 0.5px solid var(--text-secondary);
  box-shadow: var(--card-shadow);
  
  /* Curtain animation container */
  display: flex;
  transform-origin: center;
  animation: openCurtain 0.6s ease-out forwards;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}