@use '../styles/themes/_theme-variables' as *;

.cardContainer {
  width: 100%; /* Take full width of parent */
  height: 100%; /* Take full height of parent */
  margin: 0; /* Remove all margins */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  z-index: 3;
  isolation: isolate;

  border-radius: 30px;
  backdrop-filter: blur(10px);
  background-color: var(--card-bg);
  border: 0.5px solid var(--text-secondary);
  box-shadow: var(--card-shadow);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
    z-index: -1;
  }
}

.cardContent {
  display: flex;
  flex-direction: row;
  gap: 0; /* Remove gap to allow right content to take full space */
  align-items: stretch; /* Stretch items to fill container */
  justify-content: space-between;
  height: 100%;
  padding: 0; /* Remove padding to allow full coverage */
  
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.leftContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 40px; /* Consistent padding */
  justify-content: flex-start;
  align-items: flex-start; /* Ensure content is top-left aligned */
  height: 100%;
  
  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
}

.rightContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch; /* Make content stretch to fill the container */
  position: relative;
  overflow: visible;
  padding: 0; /* Remove padding to allow full coverage */
  height: 100%;
  
  /* Ensure content takes up full height and width */
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categoryLabel {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 40px; /* Add top margin to create space */
  color: var(--text-color);
  opacity: 0.7;
}

.cardTitle {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.0;
  color: var(--heading-color);
  
  @media (max-width: 768px) {
    font-size: 3.5rem;
  }
}

.cardDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--text-color);
  
  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
