@use 'sass:map';
@use '../styles/_colors.scss' as *;

.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 100px 20px;
  text-align: center;
  color: map.get($colors-primary, 'dark-text-color');
  background-color: map.get($colors-primary, 'pagebg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  position: absolute;
  filter: blur(100px);
  z-index: 1;
  opacity: 0.15;
}

.topLeft {
  // opacity: 0.21; // 30% more transparent
  top: -100px;
  left: 0;
  width: 1600px;
  height: 1000px;
  background: radial-gradient(circle, map.get($colors-primary, 'accent-teal'), transparent 50%);
  transform: translate(-33.33%, -33.33%);
  border-radius: 50%;
}

.topRight {
  opacity: 0.21; // 30% more transparent
  top: -400px;
  right: -200px;
  width: 1000px;
  height: 1400px;
  background: radial-gradient(circle, map.get($colors-primary, 'accent-orange'), transparent 90%);
  transform: translate(33.33%, -33.33%);
  border-radius: 50%;
}

.bottomRight {
  bottom: -20px;
  right: 10rem; /* 40 in tailwind */
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, map.get($colors-primary, 'accent-purple'), transparent 70%);
  transform: translate(33.33%, 33.33%);
  pointer-events: none;
}

@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.topAnimationContainer {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  height: 480px;
  z-index: 2;
}

.animatedSvg {
  animation: fadeInScaleUp 1.5s cubic-bezier(0.22, 1, 0.36, 1) 0.2s backwards;
}

.heroContent {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-size: 7rem;
  font-weight: 800;
  text-align: center;
  max-width: 1200px;
  color: map.get($colors-primary, 'dark-text-color');
  line-height: 1.1;
}

.word {
  display: inline-block;
  margin: 0 0.5rem; // Increased margin for better spacing
  white-space: nowrap;
}

.wordSpace {
  display: inline-block;
  width: 0.3rem; // Additional space between words
}

.letter {
  display: inline-block;
  color: #444444; // Initial gray color
  transition: color 0.5s ease;

  &.loaded {
    color: map.get($colors-primary, 'dark-text-color'); // Animate to centralized text color when loaded
  }
}
